<div class="navbar navbar-inverse navbar-expand-sm" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle = "collapse" data-target = ".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
              <a class="navbar-brand dark"  href="/">NEWS FEED</a>
  
      </div>
  <div class ="navbar-collapse collapse">
      <ul class="nav navbar-nav">
          <li><a href="/">HOME</a></li>
  
    
  
  
  
        <li class="dropdown show"><a class="dropdown-toggle"id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Recently Featured</a>
  
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a style="font-size:20px; color:rgb(25, 11, 224); margin-left:20px;font-style:san-serif" class="dropdown-item" href="/articles/fox-news">Fox News</a><br><hr style="color:#00ff22">
                <a style="font-size:20px; color:rgb(72, 255, 0); margin-left:20px;font-style:san-serif" class="dropdown-item" href="/articles/google-news">Google News</a><br><hr style="color:#00fff2">
                <a style="font-size:20px; color:#c9bd19; margin-left:20px;font-style:san-serif" class="dropdown-item" href="/articles/national-geographic">National Geographic</a><br><hr style="color:#b3ff00">
                <a style="font-size:20px; color:rgb(0, 46, 252); margin-left:20px;font-style:san-serif" class="dropdown-item" href="/articles/talksport">TalkSport</a><br><hr style="color:#15ff00">
              </div>
            </div>
        </li>
    </ul>
  </div>
    </div>
  
  </div>
<footer class="page-footer">
    <div class="footer-copyright text-center">
      <h5>© 2021 Copyright: Mbaire </h5>
    </div>
  </footer> 
  
  
